.notice-wrapper {
  padding: 10px 100px;
  width: 100%;
  background: rgb(219, 216, 51);
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.notice {
  font-size: 33px;
  color: #fff;
  margin: 0 0 0 30px;
}

i.flash-icon {
  font-size: 25px;
  color: #fff;
}