// Place all the styles related to the groups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.group-new-form-wrapper {
  width: 600px;
  padding: 20px;
  margin: 100px auto;
}

a {
  color: black;
}