.sidebar-wrapper {
  position: fixed;
  width: 70px;
  height: 100vh;
  background: #151515;
}

.sidebar-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 70px;
  border-bottom: 1px solid #fff;
  transition: .4s;
}

.sidebar-menu-title {
  margin: 0;
  color: #e2e2e2;
  font-size: 9px;
}

.sidebar-menu-icon {
  color: white;
  font-size: 24px;
  margin-bottom: 6px;
}

.sidebar-menu:hover {
  background: rgb(97, 205, 238);
  
  .sidebar-menu-title,
  .sidebar-menu-icon {
    color: #151515;
  }
}

@media (max-width: 850px) {
  .sidebar-wrapper {
    position: fixed;
    width: 100%;
    height: 70px;
    background: #151515;
    bottom: 0;
  }

  .sidebar-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 70px;
    width: 70px;
    border: none;
    border-right: 1px solid #fff;
    transition: .4s;
  }

  .sidebar-wrapper ul {
    display: flex;
    justify-content: center;
  }

  .sidebar-menu.first {
    border-left: 1px solid #fff;
  }

}