<nav class="header">
  <label class="logo">You<span>Vote<span></label>
  <input type="checkbox" id="check">
  <label for="check" class="checkbtn">
    <i class="fas fa-align-justify"></i>   
  </label>
  
  <ul>
    <li><%= link_to "Home", root_path %></li>
    <li><a href="#">About</a></li>
    <li><a href="#">Services</a></li>
    <li><a href="#">Contact</a></li>
    <li><a href="#">Feedback</a></li>
  </ul>
</nav>