body {
  background: white;
  width: 100vw;
  min-height: 100vh;
  background-image: url(top-page-bg.jpg);
  background-size: cover;
  background-position: center;
}

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

.all-pad {
  padding-top: 80px;
}

@media (max-width: 850px) {
  .all-pad {
    padding-top: 60px;
  }
}
