body {
  background: white;
  width: 100vw;
  min-height: 100vh;
}

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

ul {
  margin: 0;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: none;
  color: white;
}

.all-pad {
  padding-top: 80px;
}

.current-user-wrapper {
  width: 100%;
  padding-left: 70px;
}

@media (max-width: 850px) {
  .all-pad {
    padding-top: 60px;
  }

  .current-user-wrapper {
    padding: 0;
  }
}
